################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetNinja/obj
/DotNetNinja/bin/Debug/net6.0
/DotNetNinja/DotNetNinja.csproj.user
/Models
/DotNetNinja.sln
